h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: #23527c;
  }
  
  a:first-child {
    margin-right: 20px;
  }
  
  a:last-child {
    margin-left: 20px;
  }